# Cache objects
packer_cache/

# Crash log
crash.log

# For built boxes
*.box
.vagrant

# Other
manifest.json
manifest.json.lock
output-centos7
.ssh
*id_rsa.pub
puppet_commands.txt
notes.txt
./modules/
./manifests/